@charset "utf-8";
/* CSS Document */



#container{
	font-family: Arial, Helvetica, sans-serif;
}
#customRegistrationForm label{
	display: block;
	
}

#customRegistrationForm input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customRegistrationForm input.valid{
	background: #99ff99;
	border-color: green;
}

#customRegistrationForm div{
	margin-bottom: 10px;
}
#customRegistrationForm div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
	font-weight:bold;
}
#customRegistrationForm div span.error{
	color: red;
}
#customRegistrationForm div span.valid{
	color: green;
}

input[type="text"]{
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	/*width: 300px;*/
	margin-bottom:3px;
	margi-top:3px;
	outline:none;
	
	}
input[type="password"]{
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	/*width: 300px;*/
	margin-bottom:3px;
	margi-top:3px;
	outline:none;
	
	}
input[type="text"]:hover{
	border: 1px solid #006FC4;
	}
input[type="password"]:hover{
	border: 1px solid #006FC4;
	}
input[type="button"],input[type="submit"]{
	background-color: #006FC4;
	border: 1px solid #0058BD;
	font-size: 15px;
	color: #FFFFFF;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 5px;
	}
input[type="button"]:hover, input[type="submit"]:hover{
	cursor:pointer;
	background-color: #79a7f1;
	}
	





